<div class="mx-28 mt-10">
  <div class="flex justify-between">
    <h1 class="text-lg">Categories</h1>
    <div class="flex gap-2">
      <input
        #name
        type="text"
        class="rounded ring-red-500 border-red-500" placeholder="Category Name"
      >
      <button
        type="submit"
        class="bg-red-500 px-4 rounded text-white"
        (click)="addCategory(name.value)"
      >
        Add
      </button>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  #
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Name
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Tasks
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let category of categories; let i = index"
                class="bg-white border-b transition duration-300 ease-in-out"
              >
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ i + 1 }}</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <div *ngIf="!category.editing; else showInput">{{ category.name }}</div>
                  <ng-template #showInput>
                    <div class="flex gap-2">
                      <input
                        #name
                        type="text"
                        value="{{ category.name }}"
                        class="rounded text-sm py-2 ring-red-500 border-red-500" placeholder="Category Name"
                      >
                      <button
                        type="submit"
                        class="bg-red-500 px-4 rounded text-white"
                        (click)="editCategory(name.value, category)"
                        [disabled]="category.saving"
                      >
                        {{ category.saving ? 'Saving...' : 'Save' }}
                      </button>
                      <button
                        type="submit"
                        class="bg-gray-400 px-4 rounded text-white"
                        (click)="disableEditMode(category)"
                      >
                        Cancel
                      </button>
                    </div>
                  </ng-template>
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  0
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap flex gap-2">
                  <button class="text-red-500" (click)="enableEditMode(category)">edit</button>
                  <button class="text-red-500">delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
